In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
race = pd.read_csv("race_community_area.csv", header=None).T
race.columns = race.iloc[0]
race = race.iloc[1:]
race = race.reset_index(drop=True)
life_expectancy = pd.read_csv("life_expectancy_community_area.csv")

In [78]:
race

,Community Area,name,population,income,requests,latinos,blacks,white,asian,other
0,1,Rogers Park,54991,39482,3204.8880725907,0.244,0.263,0.393,0.064,0.036
1,2,West Ridge,71942,47323,3906.3412193156,0.204,0.111,0.427,0.225,0.032
2,3,Uptown,56362,40324,2164.0466981295,0.142,0.2,0.516,0.114,0.028
3,4,Lincoln Square,39493,57749,3827.2605271849,0.191,0.038,0.631,0.111,0.029
4,5,North Center,31867,81524,5307.9988703031,0.136,0.023,0.773,0.045,0.022
...,...,...,...,...,...,...,...,...,...,...
72,73,Washington Heights,26493,42053,6641.7544256946,0.01,0.974,0.005,0,0.012
73,74,Mount Greenwood,19093,80505,4357.6179751737,0.072,0.052,0.86,0.007,0.01
74,75,Morgan Park,22544,56886,6264.1944641542,0.027,0.667,0.287,0.004,0.014
75,76,O'Hare,12756,49601,1552.9946691765,0.095,0.032,0.772,0.083,0.019
76,77,Edgewater,56521,43331,2564.8873869877,0.165,0.143,0.547,0.116,0.029

In [79]:
life_expectancy

,Community Area Number,Community Area,1990 Life Expectancy,1990 Lower 95% CI,1990 Upper 95% CI,2000 Life Expectancy,2000 Lower 95% CI,2000 Upper 95% CI,2010 Life Expectancy,2010 Lower 95% CI,2010 Upper 95% CI
0,1.0,Rogers Park,70.9,69.9,71.9,73.1,72.2,74.1,77.3,76.3,78.2
1,2.0,West Ridge,76.9,76.1,77.8,78.1,77.3,78.8,80.3,79.5,81.1
2,3.0,Uptown,64.0,63.1,64.9,71.7,70.8,72.7,76.0,75.1,76.9
3,4.0,Lincoln Square,74.2,73.1,75.4,76.8,75.8,77.8,80.5,79.3,81.6
4,5.0,North Center,73.4,72.1,74.7,77.9,76.6,79.1,81.5,80.1,82.8
...,...,...,...,...,...,...,...,...,...,...,...
73,74.0,Mount Greenwood,75.7,74.4,77.1,76.0,74.4,77.5,79.6,78.1,81.0
74,75.0,Morgan Park,72.0,70.5,73.4,72.7,71.3,74.2,75.3,73.7,76.9
75,76.0,O'Hare,78.8,76.8,80.9,80.4,78.4,82.4,82.2,80.3,84.0
76,77.0,Edgewater,78.0,76.9,79.1,76.5,75.6,77.3,79.8,78.8,80.7
77,NaN,CHICAGO,70.5,70.3,70.7,73.9,73.8,74.1,77.8,77.6,78.0

In [85]:
df = race.merge(life_expectancy, left_index=True, right_index=True)
df = df.drop(columns=["Community Area Number", "Community Area_y"])
df = df.rename(columns={"Community Area_x":"number"})
df

,number,name,population,income,requests,latinos,blacks,white,asian,other,1990 Life Expectancy,1990 Lower 95% CI,1990 Upper 95% CI,2000 Life Expectancy,2000 Lower 95% CI,2000 Upper 95% CI,2010 Life Expectancy,2010 Lower 95% CI,2010 Upper 95% CI
0,1,Rogers Park,54991,39482,3204.8880725907,0.244,0.263,0.393,0.064,0.036,70.9,69.9,71.9,73.1,72.2,74.1,77.3,76.3,78.2
1,2,West Ridge,71942,47323,3906.3412193156,0.204,0.111,0.427,0.225,0.032,76.9,76.1,77.8,78.1,77.3,78.8,80.3,79.5,81.1
2,3,Uptown,56362,40324,2164.0466981295,0.142,0.2,0.516,0.114,0.028,64.0,63.1,64.9,71.7,70.8,72.7,76.0,75.1,76.9
3,4,Lincoln Square,39493,57749,3827.2605271849,0.191,0.038,0.631,0.111,0.029,74.2,73.1,75.4,76.8,75.8,77.8,80.5,79.3,81.6
4,5,North Center,31867,81524,5307.9988703031,0.136,0.023,0.773,0.045,0.022,73.4,72.1,74.7,77.9,76.6,79.1,81.5,80.1,82.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Washington Heights,26493,42053,6641.7544256946,0.01,0.974,0.005,0,0.012,68.7,67.1,70.2,70.8,69.4,72.2,74.9,73.3,76.4
73,74,Mount Greenwood,19093,80505,4357.6179751737,0.072,0.052,0.86,0.007,0.01,75.7,74.4,77.1,76.0,74.4,77.5,79.6,78.1,81.0
74,75,Morgan Park,22544,56886,6264.1944641542,0.027,0.667,0.287,0.004,0.014,72.0,70.5,73.4,72.7,71.3,74.2,75.3,73.7,76.9
75,76,O'Hare,12756,49601,1552.9946691765,0.095,0.032,0.772,0.083,0.019,78.8,76.8,80.9,80.4,78.4,82.4,82.2,80.3,84.0
76,77,Edgewater,56521,43331,2564.8873869877,0.165,0.143,0.547,0.116,0.029,78.0,76.9,79.1,76.5,75.6,77.3,79.8,78.8,80.7